body {
    background-image: url("https://wpblink.com/sites/default/files/wallpaper/man-made/70699/seattle-wallpapers-hd-70699-6849249.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;} 

h1{ color: Pink ; 
  font-style: oblique; 
  }
label { color: Pink ; 
  font-style: oblique; 
  }
