body {
    background-image: url("https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/06/20/104540684-GettyImages-530874379.1910x1000.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;} 

h1{ color: Pink ; 
  font-style: oblique; 
  }
label { color: Pink ; 
  font-style: oblique; 
  }
